*{
    margin: 0;
    padding: 0;
   /* box-sizing: border-box;*/
}
body{
    background-color: wheat;
    background: linear-gradient(to left right, wheat);
}
.main{
    display: flex;
    flex-direction: row;
    gap: 0rem;
    margin: 1rem 0 0 1rem;
}
.main .nav{
    top: 0;
    right: 0;
    height: 100vh;
    background-color: aqua;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.nav-title{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
   padding: 2rem 0rem;
   text-decoration: none;
   transform: rotate(90deg);
}
.nav-title:hover{
    color: aliceblue;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    width: 1rem;
}
.social-icon:hover{
    border: 1px solid;
    border-radius: 5px;
    border-color: azure;
}
.content{
    position:absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    /*width: 92%;*/
}
.ic{
    position: fixed;
    top: 0;
    background-color: transparent;
    padding: 4rem 2rem;
    font-size: 1.5rem;
    font-family: 'Festive', cursive;
    font-weight: 600;
}
.icon{
    cursor: pointer;
     text-decoration: none;
     color: rgb(0, 0, 0);
}
.icon:hover{
    color: rgb(255, 51, 0);
}
.about-me{
    background-color: rgb(238, 143, 159);
}
.me{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    background-image: url(./hello.png) ;
    background-size: 15rem 15rem;
    background-repeat: no-repeat;
    border: 2px;
    padding: 4rem 5rem;
    font-size: 2rem;
    text-align: center;
}
.borhan{
    width: 18rem;
    position: absolute;
    top: 1rem;
    right: 5rem;
    border-bottom: 3px solid;
    border-color: aqua;
}
.mail{
    /* width: 15rem;*/
    position: absolute;
    top: 10rem;
    right: 20rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: azure; 
}
.mail:hover{
    color: blue;
}
.wlc{
    margin-left: 10rem;
    margin-top: 2rem;
    justify-content: center;
    padding: 3rem;
    font-size: 5rem;
    color: rgb(182, 29, 29);  
    font-family: 'Redressed', cursive;
    font-weight: 900;
}
.me-intro{
    width: 40rem;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 2rem;
   margin-left: 2rem;
}
.main .web{
    background-color:whitesmoke;
   width: 50%;
   position: relative;
   display: flex;
}
.web-back{
   /* background-image: url(./web.png);*/
    /*background-size: 10rem 15rem;*/
    width: 30rem;
    background-repeat: no-repeat;
    border: 0px;
    margin-top: 0;
    /*padding: 4rem 0rem 0rem 4rem;*/
    margin: 0 auto;
    /*padding: 20rem 25rem;   */
}
.web-title{
    text-decoration: none;
    color: black;
    font-size: 2rem; 
    font-weight: 900;
    margin-top: 4rem;
    margin-left: 4rem;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   /* padding: 2rem 0 2rem 1rem;*/
    /*text-align: left;*/
  
}
.web-title:hover{
    color: aquamarine;
}
.main .web-fashion{
    display: flex;
   /* width: 92%;*/
}
.fashion-back{
    width: 40rem;
    background-repeat: no-repeat;
    border: 5px;
    margin-top: 0;
    /*padding: 4rem 0rem 0rem 4rem;*/
    margin: 0 auto;
}
.fashion{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: brown;
}
.fashion-title{
    text-decoration: none;
    transform: rotate(-90deg);
    font-size: 2rem;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 0.5rem;
}
.fashion-title:hover{
    color: yellow;
}
.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(10, 85, 99);
   background: linear-gradient(to left right, rgb(10, 85, 99), rgb(10, 85, 99));;
}
.app-icon{
    margin-top: 3rem;
}
.app-icon:hover{
    border: solid 2px;
    color: aqua;
}
.app-title{
    text-decoration: none;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blanchedalmond;
}
.app-title:hover{
    color: rgba(240, 179, 88, 0.884);
}